.site-title[data-v-7b1d768e] {
    text-align: center;
    margin-top: 58px;
    font-weight: 700;
    min-height: 70px;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    animation: pulse 1s infinite alternate-reverse;
}

.site-tagline[data-v-7b1d768e]{
    text-align:center;
    font-size:19px;
    margin-top:7px;
    margin-bottom:45px;
    opacity:.7
}